:root {
  font-family: Rubik, sans-serif;

  /* Prevent font size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* Variables */
  --border-radius-default: 15px;
  --header-height: 280px;
  --laptop-screen-width: 1024px;
  --tablet-screen-width: 768px;
  --mobile-screen-width: 375px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
